<div class="container mt-5">
    <div class="d-flex justify-content-center mt-5" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Recuperar contraseña</h3>
                    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="correo" [class.is-invalid]="correoRequerido || correoValido" class="form-control form-control-lg" placeholder="Ingrese su correo...">
                            <span class="form-text text-danger " *ngIf="correoRequerido">El correo es requerido</span>
                            <span class="form-text text-danger " *ngIf="correoValido">El correo no es válido</span>

                        </div>
                        <button routerLink="/usuario" class="btn btn-secondary btn-lg">Volver</button>
                        <button [disabled]="recuperarForm.invalid" class="btn btn-primary float-end btn-lg" type="submit">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>